<div style="width: {{width}}">

    <div style="width: {{width}}; height:{{height}}; overflow:scroll">
        <table class="table table-striped table-hover table-bordered table-condensed table-responsive" style="table-layout: fixed;">
            <thead>
                <tr>
                    <th id="column" ng-repeat="column in columns" style="width:{{column.width}}" resizable>
                        <span style="cursor: pointer" ng-bind = "column.header"/>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat = "row in data" compile="rowtemplate" style="overflow-wrap: break-word;" ng-click="rowSelected($event, row)">
                </tr>
            </tbody>
        </table>
    </div>
    <pagination style="float:right" total-items="totalServerItems" ng-model="currentPage" max-size="10" class="pagination-sm" boundary-links="true"
                rotate="false" num-pages="totalPages" items-per-page="pageSize">
    </pagination>
    <img ng-if="!data" src="/images/loading.gif"/>
    <div ng-transclude/>
</div>