<!DOCTYPE html>
<html ng-app="app">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.min.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/grid.js"></script>
    <script src="/javascripts/ui-bootstrap-tpls-0.11.2.min.js"></script>
</head>
    <body ng-controller = "controller">
        <grid url="/books" on-data-requested="fetchData" width="1000px" height="600px">
            <column header="Title" binding="bookTitle" width="470"></column>
            <column header="Published" binding="datePublished" width="100"></column>
            <column header="Publisher" binding="publisher" width="180"><div>{{row[column.field].name}}</div></column>
            <column header="Author" binding="authors" width="180"><div>{{row[column.field].name}}</div></column>
            <column header="Edit" binding="id" width="50">
                <a style="display:block; padding-top:4px; color: #428bca" ng-click="update(row.entity[col.field])">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </a>
            </column>
            <column header="Delete" binding="id" width="80" click="test()">
                <a style="display:block; padding-top:4px; padding-left: 10px; color: #d9534f">
                    <span class="glyphicon glyphicon-remove-circle"></span> Delete
                </a>
            </column>
        </grid>
    </body>
</html>
